extends layout

block content
  .container(ui-view)

block templates
  include modules/environments.jade
  include modules/environment.jade
  
block headScripts
  != js('angular.js')  
  != js('angular-ui-router.js')  
  
block scripts
  != js('app.js')

block css
  != css('app.css')
  != css('bootstrap.css')
